body {
    text-align: center;
}

#pong{
    background:black;
    width:600px;
    height:300px;
    position:relative;
}
.paddle{
    height:100px;
    width:20px;   
    position:absolute;
}
#p-paddle{
    background:#b9e1ff;
}
#ai-paddle{
    background:#f0a3a1;
    right:0px;
}
#ball{
    background:#ffffb9;
    position: absolute;
    width:20px;
    height:20px;
    top:100px;
    left:40px;
    border-radius:50%;
}